[package]
name = "web-transport-quinn"
description = "WebTransport library for Quinn"
authors = ["Luke Curley"]
repository = "https://github.com/kixelated/web-transport-rs"
license = "MIT"

version = "0.10.0"
edition = "2021"

keywords = ["quic", "http3", "webtransport"]
categories = ["network-programming", "web-programming"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
web-transport-proto = { path = "../web-transport-proto", version = "0.6.1" }

quinn = "0.10"
bytes = "1"
quinn-proto = "0.10"
http = "0.2"
thiserror = "1"
futures = "0.3"
url = "2"
log = "0.4"
async-trait = "0.1"

# This is just for AsyncRead/AsyncWrite and does NOT pull in anything else
tokio = { version = "1", default-features = false }

[dev-dependencies]
anyhow = "1"
tokio = { version = "1", features = ["full"] }
rustls = { version = "0.21", features = ["dangerous_configuration", "quic"] }
env_logger = "0.10"
clap = { version = "4", features = ["derive"] }
rustls-pemfile = "1.0.2"
