name: Rust

on:
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # Install Rust with clippy/rustfmt
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: wasm32-unknown-unknown
          components: clippy, rustfmt

      # Set RUSTFLAGS
      - run: echo "RUSTFLAGS=--cfg=web_sys_unstable_apis" >> $GITHUB_ENV

      # Make sure u guys don't write bad code
      - run: cargo test --verbose
      - run: cargo clippy --no-deps
      - run: cargo fmt --check

      # Same but for WASM
      - run: cargo test --verbose --target wasm32-unknown-unknown

      # Check for unused dependencies
      - uses: bnjbvr/cargo-machete@main
